In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
# from pandas_profiling import ProfileReport

# Load scripts from parent path
import sys, os
sys.path.insert(0, os.path.abspath('..'))

In [2]:
from scripts.processing import load_train_data, process_data

train_raw = load_train_data()
# train = process_data(train_raw)

train_raw.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0

In [3]:
store_info = train_raw.groupby(by=['Store']).agg(
    Store_Sales_mean=('Sales', 'mean'),
    Store_Customers_mean=('Customers', 'mean')
    )
store_info.to_csv('../data/store_info.csv')
store_info = pd.read_csv('../data/store_info.csv')
store_info

       Store  Store_Sales_mean  Store_Customers_mean
0        1.0       3967.721612            478.210238
1        2.0       4058.573770            486.053604
2        3.0       5722.417745            622.822878
3        4.0       7792.431985           1088.113971
4        5.0       3840.951351            445.921245
...      ...               ...                   ...
1110  1111.0       4521.609576            393.321818
1111  1112.0       9000.635531            724.807763
1112  1113.0       5394.079855            599.364964
1113  1114.0      16765.700555           2659.042202
1114  1115.0       4868.939560            336.075786

[1115 rows x 3 columns]

In [4]:
pd.merge(left=train_raw, right=store_info, how='left', on='Store')

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Store_Sales_mean,Store_Customers_mean
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0,4868.939560,336.075786
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0,3181.417266,387.372514
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0,4825.448980,754.418349
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0,6104.024074,775.229630
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0,6885.281481,788.927374
...,...,...,...,...,...,...,...,...,...,...,...
637769,2014-07-31,752.0,4.0,7259.0,576.0,1.0,1.0,0,1.0,4303.022099,386.406654
637770,2014-07-31,753.0,NaN,9938.0,796.0,1.0,1.0,0,1.0,7199.613260,633.531955
637771,2014-07-31,754.0,4.0,10564.0,1162.0,1.0,1.0,0,NaN,6881.530275,840.270909
637772,2014-07-31,755.0,4.0,12302.0,1020.0,1.0,1.0,0,1.0,8423.229656,730.222018
637773,2014-07-31,751.0,4.0,3913.0,539.0,1.0,1.0,0,1.0,3542.136280,483.777778

In [13]:
train_raw.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0